$green-fill--low-opacity: rgba(133,207,195,.3);
$green-fill--high-opacity: rgba(133,207,195,.75);
$green-fill--solid: rgba(133,207,195,1);

$overlay-z-index: 800;

//header size, top offset, side offset, subheader size

$top-offset: 50px;
$side-offset: 25px;

$header-size: 24px;

$xs: 575px;
$sm: 767px;