@import "variables";


.map__city-circle{
  fill: $green-fill--low-opacity;
  stroke: $green-fill--solid;
  stroke-width: 2px;
}

.map__city-circle:hover{
  fill: $green-fill--high-opacity;
}

.map__city-circle--inactive{
  stroke-width:0px;
  fill: rgba(255,255,255,.75);
}

.leaflet-pane > svg.d3-svg-overlay path{
  pointer-events: auto;
}