@import "variables";

.menu__container{
  position:absolute;
  top:$top-offset;
  left:$side-offset;
  z-index:1000;
}

.menu__button{
  cursor:pointer;
  color:white;
}

.menu__button:hover, .menu__button--active{
  color: $green-fill--solid;
}

@media (max-width: 575px) {
  .menu__container{
    pointer-events:none;
    visibility: hidden;
  }
}