@import "variables";

.menu__title-container{
  position:absolute;
  top:$top-offset;
  left:$side-offset;
  z-index: $overlay-z-index;
}

.menu__container{
  position:absolute;
  top:$top-offset + 30;
  left:$side-offset;
  z-index: $overlay-z-index;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}

.menu__title{
  color:white;
  font-size:$header-size;
  padding-left:35px;
  background-image: url("https://res.cloudinary.com/djdqwtoc5/image/upload/v1497477836/metasub/Asset1.png");
  //background-size: contain;
  background-size: 30px 28px;
  background-repeat:no-repeat;
  cursor:pointer;
}



.menu__row{
  margin-top:10px;
  margin-left:25px;
  padding-left:25px;
  background-image: url("https://res.cloudinary.com/djdqwtoc5/image/upload/c_lpad,h_90/v1497477836/metasub/Asset5.png");
  background-size: contain;
  background-repeat:no-repeat;
  cursor:pointer;
  color:white;
  
}

.menu__types-container{
  color:white;
  //margin-top:10px;
  margin-left:50px;
  padding-right:15px;
  font-size:14px;
  width:200px;
  //max-height:200px;
  overflow-y:auto;
}

.menu__types-container::-webkit-scrollbar{
  -webkit-box-shadow: inset 0 0 3px $green-fill--high-opacity;
	background:transparent;
}

.menu__types-container::-webkit-scrollbar-thumb{
  background:$green-fill--high-opacity !important;
}

.menu__row-container{
  max-height:200px;
  padding-right:15px;
  overflow-y:auto;
}

.menu__types-row{
  cursor:pointer;
  margin-bottom:10px;
}

.menu__title:hover{
  color: $green-fill--solid;
}

.menu__row:hover, .menu__types-row:hover, .menu__row--active, .menu__types-row--active{
  color: $green-fill--solid;
  background-image: url("https://res.cloudinary.com/djdqwtoc5/image/upload/c_lpad,h_85/v1497803360/metasub/Asset6.png");
}

.menu__types-row:hover, .menu__types-row--active{
  background-image:none;
}

.menu__row--active, .menu__row--active:hover{
  background-image: url("https://res.cloudinary.com/djdqwtoc5/image/upload/c_lpad,h_85/v1497477836/metasub/Asset4.png");
}


.menu__row--off{
  opacity:0;
  pointer-events:none;
}

.menu__container--off{
  opacity:0;
  pointer-events:none;
}

@media (max-width: $sm) {
  .menu__container{
    pointer-events:none;
    visibility: hidden;
  }

  .menu__title-container{
    pointer-events: none;
    visibility: hidden;
  }

}